---
import BaseLayout from '../layouts/BaseLayout.astro'

import ContactCTA from '../components/ContactCTA.astro'
import Hero from '../components/Hero.astro'
---

<BaseLayout
    title="À-propos | Giuliano Loic"
    description="À-propos de Giuliano Loic développeur web"
>
    <div class="stack gap-8 lg:gap-20">
        <main class="wrapper stack gap-20 lg:gap-48">
            <header class="hero">
                <Hero
                    title="À-propos de moi"
                    tagline="Merci de visiter mon site web. Je suis un développeur web passionné par la création de sites et d'applications web."
                />
                <div class="video-container">
                    <video
                        width="400"
                        height="220"
                        src="/assets/BienvenueSurMonSiteWeb.mp4"
                        preload="auto"></video>
                    <button
                        class="btn-play"
                        onclick="document.querySelector('video').play()"
                        >Bonjour</button
                    >
                    <p class="credits">
                        Généré avec <a
                            href="https://app.heygen.com/"
                            target="_blank">HeyGen</a
                        >
                    </p>
                </div>
            </header>

            <section>
                <h2 class="section-title">Mon parcours</h2>
                <div class="content">
                    <p>
                        Bonjour, je suis Loic, Développeur web <img
                            src="https://raw.githubusercontent.com/ABSphreak/ABSphreak/master/gifs/Hi.gif"
                            width="30px"
                        />
                    </p>
                    <br />
                    <p>
                        Passioné depuis toujours par l'informatique, les jeux
                        vidéos et les nouvelles technologies, je me forme au
                        développement web, en autodidacte, depuis 2019. J'ai eu
                        l'occasion de travailler sur différents projets, allant
                        de l'intégration de maquettes à la création
                        d'applications web complexes.
                    </p>
                    <br />
                    <p>
                        Ma passion pour le développement m'a poussé à m'engager
                        dans une carrière de développeur web. Pour cela j'ai
                        commencé, en 2021, une formation de 'Développeur
                        d'applications' en distanciel d'une durée de 14 mois,
                        avec <a
                            href="https://openclassrooms.com/"
                            target="_blank">OpenClassrooms</a
                        >. Au terme de cette formation, j'ai obtenu un diplôme
                        de niveau Bac+3/4 'Développeur d'application
                        Javascript/React' reconnu par l'état.
                    </p>
                    <br />
                    <p>
                        Depuis 2023, je suis développeur indépendant, et je
                        travaille sur des projets web pour des clients variés.
                    </p>
                    <br />
                    <p>
                        Je suis ouvert à de nouvelles opportunités, que ce soit
                        pour des missions en freelance ou pour un poste en CDI.
                        N'hésitez pas à me contacter pour discuter de vos
                        projets.👇
                    </p>
                </div>
            </section>
            <!-- <section>
                <h2 class="section-title">Technologies</h2>
                <div class="content">
                    <p>Corporis voluptates tenetur laudantium.</p>
                </div>
            </section> -->

            <div class="wrapper stack gap-8 lg:gap-20">
                <ins
                    class="adsbygoogle flex items-center justify-center"
                    data-ad-layout="in-article"
                    data-ad-format="fluid"
                    data-ad-client="ca-pub-2091224773462896"
                    data-ad-slot="8894881530"></ins>
                <script type="text/javascript">
                    ;(adsbygoogle = window.adsbygoogle || []).push({})
                </script>
            </div>
            <section>
                <h2 class="section-title">Compétences</h2>
                <div class="content">
                    <p>
                        <span class="bold"
                            >Expertise en technologies avancées:</span
                        > Avec l'utilisation de frameworks modernes comme <a
                            href="https://nextjs.org/"
                            target="_blank">Next.js</a
                        >, <a href="https://astro.build/" target="_blank"
                            >Astro</a
                        >, ou encore <a href="https://qwik.dev/" target="_blank"
                            >Qwik</a
                        >, je développe des applications web complètes.
                    </p>
                    <br />
                    <p>
                        <span class="bold">Approche de développement:</span>
                        Je suis dédié à construire des solutions efficaces, avec
                        une attention particulière à l'expérience utilisateur et
                        à la performance. Mon travail se caractérise par un code
                        propre, une architecture bien pensée et une adaptation rapide
                        aux nouvelles technologies.
                    </p>
                    <br />
                    <p>
                        <span class="bold">Expérience de collaboration:</span> Ayant
                        travaillé sur divers projets, j'ai développé une solide capacité
                        à collaborer efficacement en équipe, tout en étant tout aussi
                        performant en autonomie, notamment en télétravail.
                    </p>
                    <br />
                    <p>
                        <span class="bold">Engagement envers la qualité:</span> Je
                        m'efforce de livrer des projets qui non seulement répondent
                        aux attentes fonctionnelles, mais qui sont aussi maintenables
                        et évolutifs, en utilisant les meilleures pratiques de développement.
                    </p>
                    <br />
                    <p>
                        <span class="bold"> Contactez-moi</span> pour discuter de
                        la manière dont je peux apporter mes compétences en développement
                        pour enrichir vos projets web.👇
                    </p>
                    <br />
                </div>
            </section>
        </main>
        <div class="wrapper stack gap-8 lg:gap-20">
            <ins
                class="adsbygoogle flex items-center justify-center"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-2091224773462896"
                data-ad-slot="8894881530"></ins>
            <script type="text/javascript">
                ;(adsbygoogle = window.adsbygoogle || []).push({})
            </script>
        </div>
        <ContactCTA />
        <div class="wrapper stack gap-8 lg:gap-20">
            <ins
                class="adsbygoogle flex items-center justify-center"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-2091224773462896"
                data-ad-slot="8894881530"></ins>
            <script type="text/javascript">
                ;(adsbygoogle = window.adsbygoogle || []).push({})
            </script>
        </div>
    </div>
</BaseLayout>

<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .video-container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        /* max-width: 200px; */
        /* max-height: 320px; */
        border-radius: 1rem;
        background-color: white;
        margin: auto;
        box-shadow: var(--shadow-sm);
    }

    .btn-play {
        color: var(--accent-text-over);
        background-color: var(--accent-regular);
        padding: 0.5rem 1rem;
        border-radius: 999rem;
        transition:
            color var(--theme-transition),
            background-color var(--theme-transition);
        text-decoration: none;
        cursor: pointer;
        font-size: var(--text-sm);
        font-family: var(--font-brand);
        font-weight: 500;
        line-height: 1.2;
        border: 0;
    }

    .credits {
        font-size: var(--text-sm);
        margin: 0.5rem 0;
        color: #3d4663;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: var(--gray-200);
    }

    .section-title {
        grid-column-start: 1;
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .content {
        grid-column: 2 / 4;
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    .bold {
        font-weight: 600;
        color: var(--gray-0);
    }

    @media (min-width: 50em) {
        .hero {
            display: grid;
            grid-template-columns: 6fr 4fr;
            padding-inline: 2.5rem;
            gap: 3.75rem;
        }

        section {
            flex-direction: row;
            font-size: var(--text-lg);
        }

        section h2 {
            font-size: var(--text-2xl);
            min-width: 30%;
        }
    }
</style>
