---
import { getCollection } from 'astro:content'

import BaseLayout from '../layouts/BaseLayout.astro'

import ContactCTA from '../components/ContactCTA.astro'
import PortfolioPreview from '../components/PortfolioPreview.astro'
import Hero from '../components/Hero.astro'
import Grid from '../components/Grid.astro'

const projects = (await getCollection('work')).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)
---

<BaseLayout
    title="LaReponseDev | Giuliano Loic"
    description="En savoir plus sur mes projets et mon expérience."
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Mes projets"
                tagline="J'ai travaillé sur une grande variété de projets, de l'intégration de maquettes à la création d'application web complexes."
                align="start"
            />
            <Grid variant="offset">
                {
                    projects.map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
            </Grid>
        </main>

        <div class="wrapper stack gap-8 lg:gap-20">
            <ins
                class="adsbygoogle flex items-center justify-center"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-2091224773462896"
                data-ad-slot="8894881530"></ins>
            <!-- <script type="text/partytown">
                ;(adsbygoogle = window.adsbygoogle || []).push({})
            </script> -->
        </div>
        <ContactCTA />
    </div>
</BaseLayout>
